<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.justgame.vote.vote.dao.mapper.OptionMapper">

    <resultMap id="OptionResultMap" type="me.justgame.vote.vote.model.Option">
        <result property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="voteId" column="VOTE_ID" />
        <result property="sortNo" column="sortNo" />
    </resultMap>

    <resultMap id="OptionUserRelateResultMap" type="me.justgame.vote.vote.model.OptionUserRelate">
        <result property="optionId" column="OPTION_ID" />
        <result property="userName" column="USER_NAME" />
    </resultMap>

    <sql id="allColumns">
        ID,
        NAME,
        VOTE_ID,
        SORT_NO
    </sql>

    <select id="getOptionAll" parameterType="String" resultMap="OptionResultMap">
        SELECT <include refid="allColumns"/>
          FROM OPTION
         <where>
             <if test="value!=null">
                 AND VOTE_ID = #{value}
             </if>
         </where>
        ORDER BY SORT_NO ASC NULLS LAST
    </select>

    <select id="getOptionById" parameterType="String" resultMap="OptionResultMap">
        SELECT <include refid="allColumns"/>
          FROM OPTION
         WHERE ID = #{id}
    </select>

    <insert id="addOption" parameterType="me.justgame.vote.vote.model.Option">
        INSERT
          INTO OPTION (
            <include refid="allColumns"/>
          ) values (
            #{id},
            #{name},
            #{voteId},
            #{sortNo}
          )
    </insert>

    <delete id="delOptionByVoteId" parameterType="String">
        DELETE
          FROM OPTION
         WHERE VOTE_ID=#{id}
    </delete>

    <delete id="delOptionBatch" parameterType="java.util.List">
        DELETE
          FROM OPTION
         WHERE ID IN
         <foreach collection="list" item="id" open="(" separator="," close=")">
             #{id}
         </foreach>
    </delete>

    <select id="getOptionVoteCounts" parameterType="String" resultType="int">
        SELECT COUNT(*)
          FROM OPTION_USER_RELATE
         WHERE OPTION_ID=#{id}
    </select>

    <insert id="addVote4Option" parameterType="me.justgame.vote.vote.model.OptionUserRelate">
        INSERT
          INTO OPTION_USER_RELATE (
            OPTION_ID,
            USER_NAME
          ) VALUES (
            #{optionId},
            #{userName}
          )
    </insert>

    <select id="getUserVoted" parameterType="String" resultType="String">
        SELECT DISTINCT USER_NAME
          FROM OPTION_USER_RELATE
         WHERE OPTION_ID IN (SELECT ID
                               FROM OPTION
                              WHERE VOTE_ID=#{id}
                            )
    </select>

    <delete id="delOptionUserRelByVoteId" parameterType="String">
        DELETE
          FROM OPTION_USER_RELATE
         WHERE OPTION_ID IN (SELECT ID
                               FROM OPTION
                              WHERE VOTE_ID=#{id}
                            )
    </delete>

</mapper>